<form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
  <div class="mb-3 d-flex flex-column input-group-lg">
    <label for="signinEmail" class="form-label">Username</label>
    <input
      name="username"
      [(ngModel)]="model.username"
      type="username"
      class="form-control"
      id="signinUsername"
      placeholder="Enter username"
    />
  </div>
  <div class="mb-3 d-flex flex-column input-group-lg">
    <label for="signinPassword" class="form-label">Password</label>
    <input
      name="password"
      [(ngModel)]="model.password"
      type="password"
      class="form-control"
      id="signinPassword"
      placeholder="Enter Password"
    />
  </div>
  <button class="btn btn-outline-primary" type="submit">Zaloguj</button>
  <p>Don't have account? <a routerLink="/signup">Sign up</a></p>
</form>
